<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="KrisChen" />
    <meta name="robots" content="index, follow" />
    <base target="_self" />
    <meta name="description" content="" />
    <title>DELETE</title>
  </head>
  <body>
    <form action="/students/delete/?_method=DELETE" method="POST">
        <label for="id">请输入要删除学生的ID:</label>
        <input type="text" id="id", name="id">
        <button type="submit">确认</button>
    </form>
  </body>
</html>
